# Application
PORT=3000
NODE_ENV=development
API_PREFIX=api

# MongoDB
MONGO_URI=mongodb://localhost:27017/webhook-engine

# Redis / BullMQ
REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_PASSWORD=
REDIS_DB=0

# Engine Config
WEBHOOK_RETRY_LIMIT=5
WEBHOOK_RETRY_DELAY_MS=5000
